@import "/assets/scss/abstracts/variables";

@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)){
      @content;
    }
  }
  @mixin tablet-landscape {
    @media screen and (min-width: map-get($breakpoints, tablet-landscape)){
      @content;
    }
  }
  @mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)){
      @content;
    }
  }

  @mixin shadow {
    box-shadow: 0 5px 9px $color-shadow;
  }

  @mixin button {
    background-color: $color-primary;
    color: #fff;
    font-size: map-get($font-size, button);
    white-space: nowrap;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em 0.5em;
  }

  @mixin static-block {
  background-color: lighten($color-secondary, 20%);
  padding: 0.4em 0.8em;
  border-radius: 0.5em;
  font-weight: bold;
  text-align: center;
  position: fixed;
  order: 99;
  display: none;
    @include desktop {
      display: block;
    }
  }

  @mixin btn {
    background-color: $color-primary;
      border: none;
      cursor: pointer;
      border-radius: 0.2em;
      padding: 1em 2em;
      margin-top: 1em;
      color: #fff;
}