$font-size: (body:1em, heading: 2.6em, profil-name: 2.2em, form-label: 1.7em ,location: 1.5em , button: 1.2em);

$color-primary: #901C1C; //* Secondary for text *//
$color-secondary: #D3573C; //* Primary for text *//
$color-tertiary: #525252;
$color-light-bg: #FAFAFA;
$color-shadow: rgba(123, 125, 126, 0.3);

$breakpoints: (
    tablet:768px,
    tablet-landscape:992px,
    desktop:1200px
);

$modal-duration: 0.5s;