@import "../main.scss";

#skiplink {
  @include static-block;
  top: 1em;
  left: 50%;
  margin-left: -140px;
}

.photographers-list {
  flex-direction: column;
  flex-basis: 100%;
  @include tablet {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  article {
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    @include tablet {
      flex-basis: 28%;
    }
    .profil-description {
      height: 200px;
      line-height: 1.6em;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      h2 {
        color: $color-secondary;
        font-weight: 400;
        font-size: map-get($font-size, profil-name);
        margin-bottom: 0.4em;
        white-space: nowrap;
      }
      h3 {
        color: $color-primary;
        font-weight: 400;
        font-size: map-get($font-size, button);
      }
      .price {
        color: $color-tertiary;
      }
      .tags {
        padding: 0 0.4em;
        border-radius: 1.5em;
      }
    }
  }
}
