@import "../main.scss";

#banner-container {
  height: 125px;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
  @include desktop {
    height: 313px;
    margin: 0 2em;
    background-color: $color-light-bg;
    border-radius: 1em;
  }
  .photographer-description {
    line-height: 1.5em;
    @include desktop {
      height: 200px;
      justify-content: space-between;
      padding: 0em 2.5em;
    }
    h1 {
      font-weight: lighter;
      font-size: map-get($font-size, profil-name);
      color: $color-secondary;
      margin: 0;
      margin-bottom: 0.2em;
      white-space: nowrap;
      @include desktop {
        font-size: map-get($font-size, heading);
      }
    }
    #location {
      font-weight: lighter;
      font-size: map-get($font-size, body);
      color: $color-primary;
      @include desktop {
        font-size: map-get($font-size, location);
      }
    }
    #catchphrase {
      color: $color-tertiary;
      font-size: 0.8em;
      margin-bottom: 0.2em;
      @include desktop {
        font-size: map-get($font-size, body);
      }
    }
  }
  #likes-price {
    @include static-block;
    bottom: -1em;
    right: 3%;
    height: 89px;
    width: 376px;
    padding-top: 1em;
    border-radius: 0.5em 0.5em 0 0;
    font-size: map-get($font-size , location);
    font-weight: lighter;
    justify-content: space-between;
    align-items: center;
    #likes {
      text-align: left;
      margin-right: 2em;
    }
    #price {
      text-align: right;
    }
  }

  .open-modal-btn {
    @include button;
    align-self: flex-start;
    position: fixed;
    left: 50%;
    bottom: 30px;
    margin-left: -80.3px;
    @include desktop {
      position: relative;
      left: 4em;
      bottom: 0;
      top: 1.5em;
    }
  }
  .profil-pic {
    height: 100px;
    flex: 0 0 100px;
    margin: 0;
    margin-top: -1em;
    align-self: flex-start;
    @include desktop {
      height: 200px;
      flex: 0 0 200px;
      align-self: center;
      margin-left: auto;
    }
  }
}

#gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2.5em;
  @include desktop {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: space-between;
    grid-gap: 20px;  
  }
  .picture-card {
    height: 218px;
    flex-basis: 100%;
    margin: 0;
    margin-bottom: 0.9em;
    justify-content: space-between;
    @include desktop {
      height: 351px;
      flex-basis: 350px;
    }
    a {
      height: 190px;
      width: 100%;
      margin-bottom: 0.5em;
      @include desktop {
        height: 300px;
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 0.5em;
      }
      video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 0.5em;
      }
    }
  }
}

.picture-description {
  justify-content: space-between;
  align-items: center;
  color: $color-primary;
  @include desktop {
    font-size: map-get($font-size, body);
    padding-bottom: 0.4em;
  }
  h3 {
    font-weight: lighter;
    flex-grow: 1;
  }
  .heart {
    width: 1em;
    fill: $color-primary;
    cursor: pointer;
    opacity: 0.5;
    &:hover{
        opacity: 1;
        transition: all 0.3s;
    }
  }
  p {
    margin-right: 0.3em;
    text-align: right;
  }
}

.like-anim {
  animation: heartbeat ease forwards;
}